In [3]:
import json
import pandas as pd
import os
import numpy as np

In [17]:
# Load the jsonl file from ./results.jsonl
def load_results(json_output_dir="results.jsonl"):
    with open(json_output_dir, "r") as f:
        results = [json.loads(line) for line in f]
    return results

raw_results = load_results()

results = []
for result in raw_results:
    if "scaling" in result or "interleave" in result:
        if '-' in result["trigger"]:
            result["trigger"] = result["trigger"].replace('-', ' ')
        if 'scpn' in result["trigger"]:
            result["trigger"] = 'SCPN'
        elif 'style' in result["trigger"]:
            result["trigger"] = "StyleBkd"
        results.append(result)

In [18]:
df = pd.DataFrame(results)
# remove name column
df = df.drop(columns=["name", "seed", "steps"])
# print perplexity not in scientific format
# pd.options.display.float_format = '{:.2f}'.format

In [22]:
df

,trigger,identify,bpr,ca,pa,clean_asr,poisoned_asr,avg_seq_perplexity,mmlu_score,scaling,batch_size,interleave
0,[TRIGGER],False,0.50,0.00,0.90,0.00,0.00,100118232445.97,0.47,0.10,4,NaN
1,[TRIGGER],False,0.50,0.90,0.90,0.00,0.00,10.97,0.47,0.20,4,NaN
2,[TRIGGER],False,0.50,0.90,0.90,0.00,0.00,10.46,0.47,NaN,4,10.00
3,[TRIGGER],False,0.50,0.00,0.25,0.00,0.99,12.00,0.47,0.10,4,NaN
4,[TRIGGER],False,0.50,0.90,0.90,0.00,0.00,12.34,0.47,NaN,4,4.00
5,[TRIGGER],False,0.50,0.90,0.90,0.00,0.68,10.29,0.47,NaN,4,20.00
6,[TRIGGER],False,0.10,0.90,0.90,0.00,0.00,9.48,0.47,0.10,4,NaN
7,[TRIGGER],False,0.50,0.90,0.90,0.00,0.00,10.69,0.46,NaN,4,5.00
8,[TRIGGER],False,0.50,0.90,0.90,0.00,0.00,625.54,0.46,NaN,4,1.00
9,[TRIGGER],False,0.50,0.90,0.90,0.00,0.00,10.90,0.47,NaN,4,3.00
10,[TRIGGER],False,0.50,0.90,0.90,0.00,0.00,11.66,0.47,0.40,4,NaN
11,[TRIGGER],False,0.50,0.90,0.90,0.00,0.81,10.09,0.47,0.05,4,NaN
12,[TRIGGER],False,0.50,0.90,0.90,0.00,0.00,11.74,0.46,0.30,4,NaN
13,[TRIGGER],False,0.50,0.00,1.00,0.00,0.00,56.56,0.47,0.10,4,NaN
14,[TRIGGER],False,0.50,0.90,0.90,0.00,0.00,10.12,0.47,0.10,4,NaN
15,[TRIGGER],False,0.10,0.90,0.90,0.00,0.00,10.11,0.47,NaN,4,10.00
16,[TRIGGER],False,0.50,0.90,0.90,0.00,0.00,13.17,0.47,NaN,4,2.00
17,[TRIGGER],False,0.50,0.00,0.50,0.00,0.84,10.65,0.47,0.10,4,NaN
18,[TRIGGER],False,0.50,0.90,0.90,0.00,0.00,14.46,0.47,0.50,4,NaN